@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

/* Global variables for site colours */
:root{
    --lightColour: #f6f6f6; 
    --darkColour: #151515;
    --accentColour: #ffbf00;
    --lodgeEnglishNameColour: #525252;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-weight: 400;
}

body section{
    margin: auto;   
    background-color: white;    
    overflow: hidden;
}

/* Navigation bar */
/* Responsive Navbar CSS code imported and modified from YouTube tutorial (https://www.youtube.com/watch?v=At4B7A4GOPg&t=155s) */
.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightColour);
    border-bottom: 4px solid var(--accentColour);
    padding: 0;
}

.brand-title{    
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 150%;
    margin: 5px;
}

.brand-title a{   
    font-family: 'Uncial Antiqua', cursive;
    text-decoration: none;
    color: var(--darkColour);
    margin: 5px;
}

.brand-title a:hover{
    color: var(--accentColour);
}

.brand-icon{
    width: fit-content;
}
.brand-icon img{
    height: 45px;
    width: 45px;
}

.navbar-links{
    height: 100%;
}

.navbar-links ul{
    display: flex;   
    align-items: center; 
    margin: 0;
    padding-right: 10px;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    display: block;
    text-decoration: none;  
    font-weight: 600;   
    color: var(--darkColour);
    padding: 0px 20px 0px 20px;
}

.navbar-links li a:hover{
    color: var(--accentColour);
    text-decoration: underline;
}

.toggle-button{
    position: absolute;
    top: 17.5px;
    right: 20px;
    display: none;  
}

.fa-bars{
    color: var(--darkColour);
}

.book-now-link{
    background-color: var(--accentColour);
    border: 2px solid black;
    border-radius: 20px;
}

.book-now-link a:hover{
    color: white !important;
    text-decoration: none !important;
}

.body h1{
    font-size: 175%;
}

.body h2{
    font-size: 175%;
}

.body h3{
    font-size: 150%;
}

/* Landing/Home Section */
.image-container{    
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/hero_image_small.webp") no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 40vh;
}

.image-container h3{
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 10px;
    color: white;
}

/* Park Section */
.park-section{
    margin: auto;
    max-width: 100%;
    background-color: var(--lightColour);
}

.park-section h1{
    background-color: white;
    text-align: center;
    font-weight: 700;
    font-size: 175%;
    padding: 20px;
}

.park-text{
    margin: auto;
    max-width: 1080px;
}

.park-text p{
    text-align: center;
    padding: 20px;
    margin: 0;
}

.park-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 800px;
}

.park-icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: white;
    border: 2px dotted var(--accentColour);
    border-radius: 50%;
    height: 175px;
    width: 175px;
}

.park-icon-container p{
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin: 0;
}

/* Lodge Section */
.lodge-title{
    text-align: center;
    font-weight: 700;
    font-size: 175%;
    padding: 20px;
}

.lodge-container{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.lodge{
    margin: 5px;
    display: flex;
    justify-content: center;
    flex: 1;
    border: 2px solid var(--accentColour);    
    border-radius: 20px;
    max-width: 1080px;    
    background-color: var(--lightColour);
}

.lodge-left{  
    width: 50%;
    padding: 5px;
    border-radius: 20px;  
}

.carousel{
    padding: 10px;
    margin: auto;
}

.carousel img{
    height: auto;
    width: 100%;
}

.w-100{
    width: 100% !important;
}

.lodge-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.lodge-right h2{
    text-align: right;
    font-weight: 600;
    font-size: 125%;
    padding: 5px;
}

.lodge-top{
    display: flex;    
    align-items: center;
    flex: 1;    
    margin: 10px;
}

.lodge-names{
    width: 50%;
}

.lodge-names h3{    
    font-weight: 500;
    font-size: 150%;
    padding: 0px 10px 0px 10px;    
} 

.lodge-names h4{    
    font-weight: 500;
    font-size: 125%;
    padding: 0px 10px 0px 10px;
    margin: 0;
    color: var(--lodgeEnglishNameColour);
} 

.lodge-icons{
    display: flex;    
    flex: 1;
    justify-content: space-around;
}

.icon-container{
    display: flex;
    align-items: center;
    padding: 20px;
}

.icon-container p{
    align-items: center;
    padding: 10px;
    font-weight: 500;
    margin: 0;
}

.lodge-middle p{
    padding: 10px 10px 10px 10px;
    align-items: center;
    font-weight: 500;
    margin: 0;
}

.lodge-included p{
    padding: 10px;
    font-weight: 500;
    border: 2px solid var(--darkColour);
    border-radius: 20px;    
    background-color: white;
    margin: 0;
}

.lodge-bottom{
    display: flex;  
    justify-content: space-around;  
    align-items: center;
    width: 100%;
    margin: 10px;
}

.lodge-bottom h2{
    text-align: center;
    font-weight: 700;
    font-size: 175%;
    margin: 0;
}

.lodge-bottom a{
    font-size: 150%;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    color: black;
    background-color: var(--accentColour);
    border: 2px solid black;
}
.lodge-bottom a:hover{
    color: white;
}

/* Booking section */
.contact-page-info h2{
    margin: auto;
    text-align: center;
    font-size: 150%;  
    font-weight: 700;
    margin-right: auto;
    padding: 30px;
}

.contact-page-info p{
    margin: auto;
    text-align: center;
    font-size: 100%;  
    font-weight: 400;
    margin-right: auto;
    padding: 10px;    
    background-color: var(--lightColour);
}

.form-section{   
    display: flex; 
    justify-content: center;
    max-width: 100% !important;
    padding: 10px;
    background-color: var(--lightColour);
}

.form-section label{    
    font-weight: 500;
}

.name-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.name-section div{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100%;
    width: 100%;
    flex: 1;
    padding: 5px;
    align-items: center;
}

.name-section label{
    text-align: right;
    padding: 5px;
    width: 100%;
}

.name-section input{
    width: 100%;
} 

.contact-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-section div{
    display: flex;
    flex-basis: 100%;
    width: 100%;
    flex: 1;
    padding: 5px;
    align-items: center;
}

.contact-section label{
    text-align: right;
    padding: 5px;
    width: 100%;
}

.contact-section input{
    width: 100%;
} 

.dates-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dates-section div{
    display: flex;
    flex-basis: 100%;
    min-width: 100%;
    flex: 1;
    padding: 5px;
    align-items: center;
}

.dates-section label{
    text-align: right;
    padding: 5px;
    width: 100%;
}

.dates-section input{
    width: 100%;
} 

.lodge-choice-section{
    display: flex;
    flex-basis: 100%;
    width: 100%;
    flex: 1;
    padding: 5px;
    align-items: center;
}

.lodge-choice-section label{
    text-align: right;
    padding: 5px;
    width: 50%;
}

.lodge-choice-section input{
    width: 100%;
} 

.submit-button-section{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.submit-button-section input{
    font-size: 150%;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;   
    margin: 10px;
    color: black;
    background-color: var(--accentColour);
}
.submit-button-section input:hover{
    color: white;
}

/* Contact Us section */
.info-section h2{
    text-align: center;
    font-weight: 700;
    font-size: 200%;
    padding: 20px 20px 10px 20px; 
    margin: 0;
}   

.info-section p{
    text-align: center;
    font-weight: 600;
    font-size: 100%;
    padding: 10px;
    margin: 0;
}

.social-media{
    display: flex;
    max-width: 900px;
    margin: auto;
    justify-content: space-around;
    padding: 20px 10% 20px 10%;
}

.social-media a{
    color: black;
}

.social-media a:hover{
    color: var(--accentColour);
}

.map-container{
    display: flex;
    justify-content: center;
}

.map-container iframe{
    height: 50vh;
    padding: 20px 25px 20px 25px;
}

footer{
    padding-top: 10px;
    background-color: var(--lightColour);
    border-top: 2px solid var(--accentColour);
}

footer div{
    margin: auto;
    text-align: center;
    padding: 5px;
    color: var(--darkColour);
}

footer p{
    font-weight: 400;
    font-size: 100%;
}

/* 404 page */
.error-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-container h1{
    text-align: center;
    font-size: 750%;
    font-weight: 700;
}
.error-container p{
    text-align: center;
    font-size: 150%;
    font-weight: 700;
    padding: 5px;
}
.error-container a{
    width: 100px;
    height: 100px;
    margin: 5px 20px 20px 20px;
    background-color: var(--accentColour);
    border: 2px solid var(--darkColour);
    border-radius: 20px;
    
}
.error-container img{
    color: black;
    width: 100%;
    padding: 10px;
}

@media (max-width: 860px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button{
        display: block;       
    }

    .navbar-links{
        display: none;
        width: 100%;
        position: absolute;
        height: fit-content;
        top: 60px;  
        z-index: 1; 
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
        background-color: var(--lightColour);
        padding: 5px;
    }

    .navbar-links ul li{
        text-align: center;
    }

    .navbar-links ul li a{
        padding: 10px 20px;
        color: var(--darkColour);
        font-weight: bold;
    }

    .navbar-links.active{
        display: flex;
    }    

    /* Lodge section */
    .lodge{
        max-width: 97.5vw;
        flex-direction: column;
    }

    .lodge-left{
        width: 100%;
        padding: 0;
    }

    .lodge-right{
        padding: 0;
    }

    .lodge-top{
        flex-direction: column;
        padding: 0;
    }

    .lodge-names{
        width: 100%;
        text-align: center;
        padding: 5px;
    }

    .lodge-icons{
        width: 100%;
        padding: 0;
    }
    
    .icon-container{
        padding: 0;
    }

    .lodge-middle p{
        padding: 0px 10px 10px 10px;
    }

    .lodge-bottom h2{
        text-align: center;
        font-weight: 700;
        font-size: 150%;
        margin: 10px;
    }
    
    .lodge-bottom a{
        font-size: 125%;
        text-align: center;
        font-weight: 600;
        border-radius: 5px;
        text-decoration: none;
        padding: 5px;
        margin: 10px;
        color: black;
        background-color: var(--accentColour);
        border: 2px solid black;
    }
}

@media (min-width: 860px){    
    /* Home section, sets home image to higher resolution on larger screens */
    .image-container{
       background-image: url("../images/hero_image.webp");
       height: 90vh; 
    }
}

