@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,1000');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 100%;
}

body{
    background-color: white;
}

/* Responsive Navbar CSS code imported and modified from YouTube tutorial (https://www.youtube.com/watch?v=At4B7A4GOPg&t=155s) */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(orange, orange) rgb(245, 245, 245) bottom no-repeat; 
    background-size: 100% 7.5px;
}

.brand-title{
    font-size: 1.5rem;
    margin: 0.5rem;
}

.brand-title a{    
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.brand-title a:hover {
    color: orange;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;    
    margin: 0;
    padding: 5px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;     
    color: black;
    padding: .75rem;
}

.navbar-links li a:hover {
    color: orange;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;    
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.container{
    max-width: 1920px;
    margin: auto;
}

.image-container{
    position: relative;
    text-align: center;
}

.home-image img{
    height: 100vw;
    width: 100%;
    object-fit: cover;
    max-height: 900px;
}

.home-image h3{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
    text-align: center;
    color: white;
    font-size: 175%;
    font-weight: 500;
}

.park-section{
    margin: auto;
}

.park-section h2{
    text-align: center;
    font-weight: 700;
    font-size: 200%;
    padding: 20px;
}

.park-item-container{
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 1;
    margin: 5px;
    padding: 5px;    
}

.park-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.1); 
    border-radius: 5px;   
    flex: 1;
    margin: 50px;
    padding: 10px;    
    background-color: rgb(248, 248, 248);
}

.lodge-section h2{
    text-align: center;
    font-weight: 700;
    font-size: 200%;
    padding: 20px;
}

.lodge-card-container{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.lodge-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.1); 
    border-radius: 5px;   
    flex: 1;
    margin: 5px;
    padding: 10px;    
    background-color: rgb(248, 248, 248);
}

.lodge-card img{
    border-radius: 5px;
    width: 100%;
    max-height: 720px;
}

.lodge-card h2{  
    font-size: 150%;  
    font-weight: 700;
    margin-right: auto;
    padding: 10px 5px 0px 5px;
}

.lodge-card h3{
    font-size: 125%;  
    font-weight: 600;
    margin-right: auto;
    padding: 0px 5px 2.5px 5px;
    color: rgb(100, 100, 100);
}

.lodge-card p{
    margin-right: auto;
    padding: 5px;
    min-height: 75px;
    font-weight: 500;
}

.lodge-card button {
    font-size: 150%;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;   
    color: black;
    background-color: orange;
}

.info-section{
    margin: auto;
    padding: 0px;
    max-width: 100%;
}

.info-section h2{
    text-align: center;
    font-weight: 700;
    font-size: 200%;
    padding: 20px;
}

.info-section p{
    text-align: center;
    font-weight: 600;
    font-size: 175%;
    padding: 10px;
}

.map-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.map-container iframe{
    height: 50vh;
    padding: 25px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;       
    }

    .navbar-links {
        display: none;
        width: 100%;
        position: absolute;
        height: fit-content;
        top: 2.8rem;  
        z-index: 1;  
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.85);
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 0.5rem 1rem;
        color: white;
        font-weight: bold;
    }

    .navbar-links.active {
        display: flex;
    }
}