@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');


:root{
    --lightColour: #fafafa; 
    --darkColour: #151515;
    --accentColour: #FFD700; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 100%;
}

body section{
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    background-color: white;
}

.home-section{
    max-width: 1920px;
}

/* Responsive Navbar CSS code imported and modified from YouTube tutorial (https://www.youtube.com/watch?v=At4B7A4GOPg&t=155s) */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
    background-color: var(--darkColour);
    border-bottom: 2px solid var(--accentColour);
}

.brand-title{    
    font-size: 1.5rem;
    margin: 0.5rem;
}

.brand-title a{    
    font-family: 'Uncial Antiqua', cursive;
    text-decoration: none;
    color: var(--accentColour);
    text-decoration: underline;
}

.brand-title a:hover {
    color: var(--accentColour);
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;    
    margin: 0;
    padding: 5px;
}



.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;     
    color: var(--lightColour);
    padding: .75rem;
}

.navbar-links li a:hover {
    color: var(--accentColour);
    text-decoration: underline;
}

.toggle-button {
    position: absolute;
    top: .5rem;
    right: 1rem;
    display: none;  
}

.fa-bars{
    color: var(--accentColour);
}

.body section{
    max-width: 1920px;
    margin: auto;
}

.image-container{
    position: relative;
    text-align: center;
}

.home-image img{
    height: 100vw;
    width: 100%;
    object-fit: cover;
    max-height: 900px;        
}

.home-image h3{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, 0.65);
    padding: 1%;
    text-align: center;
    color: white;
    font-size: 170%;
    font-weight: 500;
}

.park-section{
    margin: auto;
}

.park-section h2{
    text-align: center;
    font-weight: 700;
    font-size: 200%;
    padding: 20px;
}

.park-item-container{
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 1;   
}

.park-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid var(--accentColour); 
    border-radius: 5px;   
    flex: 1;
    align-self: stretch;
    margin: 25px;
    padding: 30px;    
    background-color: var(--lightColour);
}

.park-item h3{
    font-weight: 600;
    font-size: 150%;
    padding: 0px 10px 10px 10px;
}

.park-item p{
    font-weight: 500;
    padding: 10px;
}

.lodge-section h2{
    text-align: center;
    font-weight: 700;
    font-size: 200%;
    padding: 10px 20px 20px 20px;
}

.lodge-card-container{
    display: flex;
    justify-content: space-evenly;
}

.lodge-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--accentColour); 
    border-radius: 5px;   
    flex: 1;
    margin: 5px;
    padding: 10px;    
    background-color: var(--lightColour);
}

.lodge-card img{
    border-radius: 5px;
    width: 100%;
    max-height: 720px;
}

.lodge-card h2{  
    font-size: 150%;  
    font-weight: 700;
    margin-right: auto;
    padding: 10px 5px 0px 5px;
}

.lodge-card h3{
    font-size: 125%;  
    font-weight: 600;
    margin-right: auto;
    padding: 0px 5px 2.5px 5px;
    color: rgb(110, 110, 110);
}

.lodge-card p{
    margin-right: auto;
    padding: 5px;
    min-height: 75px;
    font-weight: 500;
}

.lodge-card button {
    font-size: 150%;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;   
    margin: 10px;
    color: black;
    background-color: var(--accentColour)
}

.info-section h2{
    text-align: center;
    font-weight: 700;
    font-size: 200%;
    padding: 20px 20px 10px 20px;
}

.info-section p{
    text-align: center;
    font-weight: 600;
    font-size: 100%;
    padding: 10px;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10% 20px 10%;
}

.social-media a{
    color: black;
}

.social-media a:hover{
    color: var(--accentColour);
}

.map-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.map-container iframe{
    height: 50vh;
    padding: 20px 25px 20px 25px;
}

footer{
    padding-top: 10px;
    background-color: var(--darkColour);
    border-top: 2px solid var(--accentColour);
}

footer div{
    margin: auto;
    text-align: center;
    padding: 5px;
    color: var(--lightColour);
}

footer p{
    font-weight: 400;
    font-size: 100%;
}

/* Lodge Page */
.lodge-details-section{
    max-width: 850px;
}

.lodge-details-container{
    display: flex;
    flex-direction: column;
}

.lodge-details{
    display: flex;
    align-items: center;;
    flex-direction: column;
    border: 2px solid var(--accentColour); 
    border-radius: 5px;   
    flex: 1;
    margin: 5px;
    padding: 10px;    
    background-color: var(--lightColour);
}

.lodge-details-images{
    display: flex;
    justify-content: space-between;    
}

.lodge-details-images img{
    border-radius: 5px;
    width: 33%;  
    margin-bottom: 10px;  
    max-height: 720px;
}

.lodge-details-text{
    display: flex;
    justify-content: space-evenly;   
    align-items: center; 
    margin-bottom: 10px;
}

.lodge-details-info{
    max-width: 50%;
}

.lodge-details-icons{
    display: flex;
    flex: 1;
    margin: 0px 10px 10px 10px;
}

.icon-container{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.icon-container p{
    font-size: 150%;
}

.lodge-details-included{
    max-width: 50%;
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--darkColour);
    border-radius: 5px;
}

.lodge-details-included p{
    line-height: 125%;
}

.lodge-details h2{  
    font-size: 150%;  
    font-weight: 700;
    margin-right: auto;
    padding: 10px 5px 0px 5px;
}

.lodge-details h3{
    font-size: 125%;  
    font-weight: 600;
    margin-right: auto;
    padding: 0px 5px 2.5px 5px;
    color: rgb(110, 110, 110);
}

.lodge-details p{
    margin-right: auto;
    padding: 5px 5px 0px 5px;
    min-height: 75px;
    font-weight: 500;
}

.lodge-details button {
    font-size: 150%;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
    margin: auto; 
    margin-bottom: 5px;  
    color: black;
    background-color: var(--accentColour)
}

/* Park page */
.park-details-section{
    max-width: 850px;
}

.park-details-images{
    display: flex;
    justify-content: space-between; 
    padding: 20px;   
}

.park-details-images img{
    border-radius: 5px;
    width: 33%;  
    margin-bottom: 10px;  
    max-height: 720px;
}

.park-details-text{
   text-align: center;
   padding: 20px;
   border: 2px solid var(--accentColour);
   border-radius: 20px;
}

.park-details-text h3{
    font-size: 150%;
    font-weight: 600;
    padding: 10px;
}

.park-details-text p{
    padding: 10px;
}

/* Contact Page */
.form-section{    
    margin: auto;
    border: 2px solid var(--accentColour);
}

.name-section{
    display: flex;
    width: 100%;
}
.name-section div{
    display: flex;
    flex-basis: 100%;
    width: 100%;
    flex: 1;
    padding: 10px;
    align-items: center;
    border: 1px solid black;
}
.name-section label{
    text-align: right;
    padding: 10px;
    width: 100%;
}
.name-section input{
    width: 100%;
} 

.contact-section{
    display: flex;
    width: 100%;
}
.contact-section div{
    display: flex;
    flex-basis: 100%;
    width: 100%;
    flex: 1;
    padding: 10px;
    align-items: center;
    border: 1px solid black;
}
.contact-section label{
    text-align: right;
    padding: 10px;
    width: 100%;
}
.contact-section input{
    width: 100%;
} 

.dates-section{
    display: flex;
    width: 100%;
}
.dates-section div{
    display: flex;
    flex-basis: 100%;
    width: 100%;
    flex: 1;
    padding: 10px;
    align-items: center;
    border: 1px solid black;
}
.dates-section label{
    text-align: right;
    padding: 10px;
    width: 100%;
}
.dates-section input{
    width: 100%;
} 

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: block;       
    }
    .navbar-links {
        display: none;
        width: 100%;
        position: absolute;
        height: fit-content;
        top: 3.2rem;  
        z-index: 1; 
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        background-color: var(--darkColour);
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: 0.5rem 1rem;
        color: var(--lightColour);
        font-weight: bold;
    }
    .navbar-links.active {
        display: flex;
    }

    /* Park Section */
    .park-item-container{
        flex-direction: column;
        margin: 10px;
        padding: 0px;    
    }
    .park-item{
        flex-direction: column;
        text-align: center;
        margin: 10px;
        padding: 10px;    
    }

    .lodge-section{
        align-content: center;
    }
    
    .lodge-card-container{
        flex-direction: column;
        align-items: center;
    }    

    .lodge-card{
        text-align: center;
    }

    .lodge-card h2,h3{
        margin: auto;
    }

    .lodge-card p{
    padding-bottom: 10px;
    }

    /* Lodge Page */
    .lodge-details-container{
        display: flex;
        flex-direction: column;
    }
    
    .lodge-details{
        display: flex;
        align-items: center;;
        flex-direction: column;
        border: 2px solid var(--accentColour); 
        border-radius: 5px;   
        flex: 1;
        margin: 5px;
        padding: 10px;    
        background-color: var(--lightColour);
    }
    
    .lodge-details-images{
        display: flex;
        justify-content: space-between;    
    }
    
    .lodge-details-images img{
        border-radius: 5px;
        width: 33%;  
        margin-bottom: 10px;  
        max-height: 720px;
    }
    
    .lodge-details-text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;   
        align-items: center; 
        text-align: center;
        margin-bottom: 10px;
    }
    
    .lodge-details-info{
        max-width: 100%;
    }
    
    .lodge-details-icons{
        display: flex;
        flex: 1;
        margin: 0px 10px 10px 10px;
    }
    
    .icon-container{
        display: flex;
        align-items: center;
        margin: auto;
    }
    
    .icon-container p{
        font-size: 150%;
    }
    
    .lodge-details-included{
        max-width: 100%;
        margin: 10px;
        padding: 10px;
        border: 2px solid var(--darkColour);
        border-radius: 5px;
    }
    
    .lodge-details-included p{
        line-height: 125%;
        text-align: left;
    }
    
    .lodge-details h2{  
        font-size: 150%;  
        font-weight: 700;
        margin-right: auto;
        padding: 10px 5px 0px 5px;
    }
    
    .lodge-details h3{
        font-size: 125%;  
        font-weight: 600;
        margin-right: auto;
        padding: 0px 5px 2.5px 5px;
        color: rgb(110, 110, 110);
    }
    
    .lodge-details p{
        margin-right: auto;
        padding: 5px 5px 0px 5px;
        min-height: 75px;
        font-weight: 500;
    }
    
    .lodge-details button {
        font-size: 150%;
        font-weight: 600;
        border-radius: 5px;
        padding: 5px;
        margin: auto;   
        color: black;
        background-color: var(--accentColour)
    }

}